#tosBody {
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Montserrat', sans-serif;
}

#privacyPolicyBody {
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Montserrat', sans-serif;
}

